<ion-content class="ion-padding" color="dark">
  <ion-text >
    <div><h1 class="titulo"><strong>Bienvenido a RegistrAPP</strong></h1></div>
    <div><h2 class="sub-titulo">"Registrate"</h2></div>
  </ion-text>

  <form #formregister="ngForm" (ngSubmit)="onsubmit()">
    <ion-item class="tituloysubtitulo">
      <ion-input name="email" type="email" labelPlacement="floating" label="correo" required aria-label="correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input name="contraseña" type="password" labelPlacement="floating" label="contraseña" required aria-label="contraseña"></ion-input>
    </ion-item>

    <ion-button class="boton" expand="full" color="secondary" type="submit" shape="round" [disabled]="formregister.invalid">
      Entrar
    </ion-button>
  </form>
  <div><p routerLink="">¿olvidaste tu contraseña?</p></div>
  <div><p routerLink="/register">¿no tienes cuenta?</p></div>

</ion-content>
