div{
    text-align: center;
}

.titulo{
    color: rgb(55, 173, 209);
    font-size: 40px;
}

.sub-titulo{
    color: rgb(55, 173, 209);
    font-size: 30px;
}

.item{
    margin-bottom: 5%;
    border-radius: 60px;
}

.boton{
    padding-top: 10%;
}

